.error {
  color: red;
  font-size: 0.8em;
}

.navbar_active {
  /* color: #00000 !important ; */
  /* background-color: rgba(255, 255, 255, 0.16); */
}

.navbar_navlink {
  color: white;
  text-decoration: none;
}

.react-json-view {
  word-break: break-all;
}
